@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.input {
    height: 30px;
    padding-left: 10px;
    font-size: 1.2rem;
}

.pag2main {
    background: #fff;
    min-height: 100vh;
    width: 50%;
    box-shadow: 2px 2px 25px black;
    padding: 60px 0 0 0;
    z-index: 1;
    
}
.esconder{
    position:absolute;
    top:0;
    right:0;
    z-index: 0;
    margin-top:-200%;
}

.pag2header {
    display: flex;
    box-shadow: 0px 0px 5px black;
    height: 40px;
    width: 100%;
}

.pag2headerPrimeiro {
    width: 50%;
    height: 40px;
    background: rgb(25, 25, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.pag2headerPrimeiro span {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 2%;
}



.pag2headerSegundo {
    width: 50%;
    height: 40px;
    background: rgb(110, 110, 187);
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

.pag2article {
    padding: 15px;
    background:#fff;
}

.pag2entrega {
    margin-top: 20px;
}

.pag2entregaDivs {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pag2entregaDivs input {
    margin: 10px 0;
}

.pag2pagamento {
    margin-top: 20px;
}

.pag2pagamentoLabel {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;
}

.pag2pagamentoLabel input {
    margin: 0 20px 0 0;
}

.pag2divDadosCartao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pag2dadosCartao {
    margin-top: 15px;
    width: 45%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input:focus-within {
    border: 3px solid rgb(25, 25, 122);
}

#botaoImprimir, #botaoCep, #botaoFinalizar {
    display: flex;
    width: 130px;
    padding: 10px;
    background-color: rgb(25, 25, 122);
    border: none;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}


#botaoImprimir {
    width: 110px;
}

#botaoImprimir::after {
    content: "🖨️";

}

button:active {
    transform: scale(0.9);
}

.pag2divFinalizar {
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#botaoFinalizar {
    background: rgb(255, 163, 42);
    width: 100px;
}
@media(max-width:800px) {
    .pag2main {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
   
    .pag2headerPrimeiro span, .pag2headerSegundo span{
        font-size: 13px;
        width:100px;
    }
    .pag2entregaDivs{
        flex-wrap: wrap;
    }
    .pag2entregaDivs input{
        width:100%;
        margin-left:0;
        margin-right: 0;
    }
    .pag2dadosCartao {
        margin-left:0;
        margin-right: 0;
        width: 100%;
    }
    .pag2main {
        padding: 5px 0 0 0;
    }
}

