@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(176, 5, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background: #fff;
    min-height: 100%;
    width: 50%;
    box-shadow: 2px 2px 25px black;
    padding-top: 5px;
    z-index: 1;
    
}

.esconder{
    position:absolute;
    top:0;
    right:50;
    left:50;
    z-index: 0;
    margin-top:-100%;
}
.header {
    /* background: rgb(25, 25, 122); */
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    box-shadow: 0px 0px 5px black;
    height: 40px;
    width: 100%;
}

.headerPrimeiro {
    width: 50%;
    height: 40px;
    background: rgb(25, 25, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.headerPrimeiro span {
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    margin-left: 2%;
}

.headerSegundo {
    width: 50%;
    height: 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.headerPonta {
    height: 28px;
    width: 28px;
    transform: rotate(135deg);
    background-image: linear-gradient(135deg, rgb(25, 25, 122) 50%, transparent 50%);
    position: absolute;
    right: -13px;
    top: 6px;
}
.pag2headerPonta{
    height: 28px;
    width: 28px;
    transform: rotate(135deg);
    background-image: linear-gradient(135deg, rgb(25, 25, 122) 50%, transparent 50%);
    position: absolute;
    right: -13px;
    top: 6px;
}

.article {
    width: 90%;
    margin: 20px auto 0 auto;
    background: #fff;
}

.formH2 {
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.formAdesivos {
    margin-top: 30px;
}

.formDivsAdesivos {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.formPreco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formDivTotal {
    margin: 10px 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.divBotoes {
    display: flex;
    align-items: center;
}

.labelQuantia {
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 8px;
}

.inputQuantia, .inputTotal {
    width: 70px;
    height: 30px;
    margin: 0 5px;
    font-size: 1rem;
    text-align: center;
}

.inputQuantia::-webkit-outer-spin-button, .inputQuantia::-webkit-inner-spin-button, .inputTotal::-webkit-inner-spin-button, .inputTotal::-webkit-outer-spin-button {
    display: none;
}

.botaoQuantia {
    background-color: rgb(25, 25, 122);
    color: white;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
}

.botaoQuantia:active, .botaoEnviar:active {
    transform: scale(0.9);
}

.labelObservacoes {
    margin-top: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    display: block;
}

.textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    letter-spacing: 2px;
    resize: none;
}

.textarea:focus-within, .inputQuantia:focus-within, .inputTotal:focus-within {
    border: 3px solid rgb(25, 25, 122);
}

.divEnviar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.botaoEnviar {
    width: 90px;
    padding: 10px;
    background-color: rgb(25, 25, 122);
    border: none;
    color: white;
    letter-spacing: 2px;
    border-radius: 5px;
}

@media(max-width:800px) {
    body{
        background:white;
    }
    .main {
        margin: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
    }

    .headerPrimeiro span {
        font-size: 0.8rem;
        margin-left: 2%;
    }

    .headerSegundo {
        width: 50%;
        height: 40px;
        padding-right: 2px;
    }
}

@media(max-width:370px) {
    .formDivsAdesivos {
        width: 100%;
        flex-wrap: wrap;
    }

    .formPreco {
        width: 100%;
    }

    .headerSegundo span {
        font-size: 13px;
    }
}